
*.pyc
frame_2D_alg/3x3 coeffs derivation.docx

frame_2D_alg/Illustrations/intra_blob_forking_scheme.png
frame_2D_alg/Illustrations/intra_blob_forking_scheme.png
frame_2D_alg/Illustrations/intra_blob_forking_scheme.png
frame_2D_alg/Illustrations/intra_blob_forking_scheme.png
frame_2D_alg/Illustrations/intra_blob_forking_scheme.png
frame_2D_alg/test_funct.py
frame_2D_alg/test_funct.py
frame_2D_alg/test_funct.py
frame_2D_alg/test_funct.py
frame_2D_alg/test_funct.py
frame_2D_alg/draw_mask_blob.py
